body{
background: #a1bae3;
text-align: center;
font-size: 40px;
}

#imagem1{
	width: 500px;
	height: 350px;
	border: 15px solid;
	border-color: #9554f0;
	}

#lista{
	border: 5px dashed;
	border-color: #9554f0;
	color: #12084d;
	background: #b595e8;
	}




